#pendo-g-kJcEd_tc_Db4RLCi-l1DfjJ63xM ._pendo-step-container-styles:focus {
  outline: none;
}
#pendo-g-kJcEd_tc_Db4RLCi-l1DfjJ63xM img {
  border-radius: 10px 10px 0px 0px;
}
#pendo-g-kJcEd_tc_Db4RLCi-l1DfjJ63xM [data-_pendo-row-1] {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 50px;
}
#pendo-g-kJcEd_tc_Db4RLCi-l1DfjJ63xM [data-_pendo-row-1] ._pendo-button {
  z-index: 1;
}
